<div class="text users-image">
  <h1>他のユーザーの挑戦をみてみよう</h1>
    <h2 class="users-p">他者の取り組み、価値観を吸収しましょう</h2>
</div>
<p>検索</p>
 <form class="sform">
    <button class="sbutton"><i class="fas fa-search"></i></button>
    <input class="sbox" type="search" placeholder="挑戦を見つける"/>
 </form>

<%= render 'users', users: @users %>

<footer class="last-foot mt-5">
  <div class="text-center mt-3">    
    <a class="ml-3 text-black-50"  href="/protocol">利用規約</a>
    <a class="ml-2 text-black-50" href="/privacy">プライバシポリシー</a>
  </div>
  <div class="row mt-2">
    <div class="col-lg-8 col-md-10 mx-auto">
      <ul class="list-inline text-center">
        <li class="list-inline-item">
          <a href="#" class="foot-icon">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="foot-icon">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="foot-icon">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>
      <p class="copyright text-center">Copyright &copy; 2020 easyma, inc All rights reserved.</p>
    </div>
  </div>
</footer>