<div class="text users-image">
  <h1>他のユーザーの挑戦をみてみよう</h1>
    <h2 class="users-p">他者の取り組み、価値観を吸収しましょう</h2>
</div>
<p>検索</p>
 <form class="sform">
    <button class="sbutton"><i class="fas fa-search"></i></button>
    <input class="sbox" type="search" placeholder="挑戦を見つける"/>
 </form>

<%= render 'users', users: @users %>
