<div class="jumbotron jumbotron-fluid" id="users-jumbo">
  <div class="cont">
    <h1 class="display-4 mt-5 font-weight-bold">Tos!!ユーザーの挑戦を参考にしましょう</h1>
    <p class="lead mt-3 font-weight-bold">取り組んでいることや他者の考え方には新しい発見があります</p>
    <button id="users-jumbobutton" class="jumbobutton btn btn-light mt-3" type="submit"><%= link_to '挑戦を探す', challenges_path, class: "link-top-1" %></button>
  </div>
</div>
<%= render 'users', users: @users %>
<%= render 'layouts/footer' %>