<div class="main-image">
  <h1>Try One Step</h1>
    <p class="main-p">行動を起こすことで変化が起こる。</p>
     <button class="mainbutton" type="submit"><%= link_to "一歩踏み出す", signup_path, class: "link-top-1" %></button>
</div>
<section class="page-section" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Tos!!とは</h2>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-4">現状に何か変化が欲しい全ての方に向けたサービスです。
                <br>「新しいことを始めたい！でも何から始めれば、、」という悩みを解決。
                <br>Tos!!は「まずは始めてみる」のきっかけとなることが目的です。</p>
            </div>
        </div>
    </div>
</section>
<h2 class="second-title mb-5">〜使い方〜</h2>
<div class="second-colum">
  <div class="row mb-5">
     <div class="col-md-4 first-icon">
       <i class="fas fa-running fa-3x"></i>
         <h4 class="mt-3">挑戦を始める</h4>
         <p>新しく挑戦してみたいことを決めよう。まずは悩みすぎず興味のあることから始めてみよう</p>
     </div>
     <div class="col-md-4 second-icon">
       <i class="fa fa-book fa-3x"></i>
         <h4 class="mt-3">挑戦を記録</h4>
         <p>挑戦をエピソードとして記録しよう。成長の過程・変化を見える化することで自分の挑戦を振り返ることができるよ</p>
     </div>
     <div class="col-md-4 third-icon">
       <i class="fas fa-share-alt fa-3x"></i>
         <h4 class="mt-3">挑戦を共有</h4>
         <p>共有によって刺激と気づきを得る。影響を受けたユーザには、インフルをしてモチベーションをあげてあげよう</p>
     </div>
    </div>
  </div>
    <div class="third-colum">
  <i class="fa fa-users fa-5x mt-5"></i> 
    <h2 class="third mt-4">新しく挑戦したいことがない時は...</h2>
     <p class="third mt-3">まずは他の人の挑戦を参考にしてみましょう</p>
     <button class="users mt-3"><%= link_to " Tos!!ユーザーの挑戦へ", users_path, class: "link-top-2" %></button>
     <p class="user2"><a href="#">~~~~~~~~~~~~~~~~~~~~~~~~</a></p>
  </div>
<div class="last-colum-all">	
    <ul class="last-colum1">
      <h4>Air</h4>
    <li><a href="#">採用情報</a></li>
    <li><a href="#">プレス</a></li>
    <li><a href="#">ポリシー</a></li>
    <li><a href="#">ヘルプ</a></li>
    <li><a href="#">ダイバーシティ＆ビロンギング</a></li>
    <li><a href="#">企業情報</a></li>
    </ul>
    <ul class="last-colum2">
      <h4>スタッフのおすすめ</h4>
    <li><a href="#">信頼＆安全</a></li>
    <li><a href="#">お友達紹介クーポン</a></li>
    <li><a href="#">Airb00 Citizen</a></li>
    <li><a href="#">出張</a></li>
    <li><a href="#">ガイドブック</a></li>
    <li><a href="#">Airb00mag</a></li>
    </ul>
    <ul class="last-colum3">
      <h4>ホスティング</h4>
    <li><a href="#">ホストになる理由</a></li>
    <li><a href="#">おもてなしの心</a></li>
    <li><a href="#">ホストの責任</a></li>
    <li><a href="#">コミュニティセンター</a></li>
    <li><a href="#">体験を掲載<span>新着</span></a></li>
    <li><a href="#">オープンホーム<span>新着</span></a></li>
    </ul>
    <div class="last-colum4">
       <div class="icons">
    <a href="#"><i class="fab fa-facebook-f last-icon"></i></a><a href="#"><i class="fab fa-twitter last-icon"></i></a><a href="#"><i class="fab fa-instagram last-icon"></i></a>
       </div>
       <ul class="lastlist">
    <li><a href="#">利用規約</a></li>
    <li><a href="#">プライバシー</a></li>
    <li><a href="#">サイトマップ</a></li>
    <li><a href="#">コミュニティセンター</a></li>
       </ul>
    </div>
  </div>
<footer class="last-foot">
  <div class="row">
    <div class="last-left col-md-5">
         <p><i class="fas fa-plane"></i></p>
          <a href="#">Airbnb Global services Limited</a><br>
          <a href="#">観光庁長官(01)第00000000号（2018年6月10日-2030年6月9日）</a>
          <p class="foot">@2019 Koala, inc All rights reserved.</p>
     </div>
     <div class="last-right offset-md-4 col-md-3">
        <button class="jbutton">日本語</button><button class="enbutton">JPY-￥</button>
      </div>
  </div>
</footer>
