<div class="main-image">
  <h1>Try One Step</h1>
    <p class="main-p">行動した分だけ人生が変わる。</p>
    <button class="mainbutton btn btn-light" type="submit"><%= link_to "一歩踏み出す", signup_path, class: "link-top-1" %></button>
</div>
<section class="page-section" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">Tos!!とは</h2>
        <hr class="divider light my-4" />
        <p class="text-white mb-4">現状に何か変化が欲しい全ての方に向けたサービスです。
        <br>「新しいことを始めたい！でも何から始めれば、、」という悩みを解決。
        <br>Tos!!の目的は「まずは始めてみる」のきっかけとなることです！！</p>
      </div>
    </div>
  </div>
</section>
<section class="showcase">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" id="showcase-img-1"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>1. 新しいことに挑戦する</h2>
        <p class="mb-0">まずは新しく挑戦したいことを決めましょう。一歩踏み出すことが重要です。あまり悩まず日頃興味を持っていたことをいくつかピックアップしましょう。挑戦が決定したら目標を立てて投稿しましょう。</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" id="showcase-img-2"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>2. 挑戦の過程を記録する</h2>
        <p class="mb-0">自身の挑戦の過程を可視化しましょう。目標達成に向けて取り組んだこと、その時々の気づきをエピソードとして投稿しましょう。<br>目標を達成した場合、成長の過程は独自のノウハウにもなり得ます。成功・失敗要因を分析することで他の挑戦にも活かしましょう。</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" id="showcase-img-3"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>3. 挑戦を共有する</h2>
        <p class="mb-0">どのような取組や考え方が目標達成に繋がっているのかという着眼点で色々な挑戦を見ましょう。きっと有益な気づきを得ることができるはずです。自分がそのユーザーに影響を受けたと思ったらインフルボタンで影響力を認識させてあげましょう。ユーザーのモチベーションに繋がります。一人に影響を与えた時点で立派なインフルエンサーです。</p>
      </div>
    </div>
</section>
<div class="third-colum">
  <i class="fa fa-users fa-4x mt-5 mr-4"></i> 
    <h2 class="third mt-4">新しく挑戦したいことが見つからない時は...</h2>
    <p class="third mt-3">他の人の挑戦を参考にしてみましょう</p>
    <button class="users mt-3"><%= link_to " Tos!!ユーザリストへ", users_path, class: "link-top-2" %></button>
    <button class="users mt-3"><%= link_to " 挑戦したいことを探す",challenges_path, class: "link-top-2" %></button>
</div>
<footer class="last-foot ">
  <div class="text-center mt-3">    
    <a class="ml-3 text-black-50"  href="/protocol">利用規約</a>
    <a class="ml-2 text-black-50" href="/privacy">プライバシポリシー</a>
  </div>
  <div class="row mt-2">
    <div class="col-lg-8 col-md-10 mx-auto">
      <ul class="list-inline text-center">
        <li class="list-inline-item">
          <a href="#" class="foot-icon">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="foot-icon">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="foot-icon">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>
      <p class="copyright text-center">Copyright &copy; 2020 easyma, inc All rights reserved.</p>
    </div>
  </div>
</footer>