/*↓トップページに関するCSS */
.container-fluid{
	padding:0;
}

/*↓挑戦検索*/
.sform{
	display: flex;
}

.sbox{
	width: 400px;
	height: 45px;
	border: 2px solid #f5f5f5;
	border-left: 0;
}

.sbutton{
	background-color: white;
	border: 2px solid #f5f5f5;
  　border-right: 0;
  　margin-right: 0;
}

.main-image{
	clear: both;
}

.main-image{
	height: 750px;
	background-image: url("onestep.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.main-image h1{
	font-size: 100px;
	color: white;
  　font-weight: bold;
	padding: 150px 0 0 150px;
}

.main-p{
	font-size: 30px;
	color: white;
	padding-left: 150px;
}

.mainbutton{
	margin-left: 150px;
	margin-top: 15px;
	color: dimgrey;
	font-size: 1.0em;
	font-weight: bold;
	background-color: #f5f5f5;
	padding: 15px 20px;
	border-radius: 5px;
	border-style: none;
}

/*↓bootstrapテンプレから*/
.page-section {
    padding: 8rem 0;
    background-color: #FF6633;
}


.second-title{
	text-align: center;
  　font-size: 35px;
	font-weight: bold;
	margin-top: 40px;
}

.second-head{
	background-color: red;
}
/*↓bootstrapテンプレから画像と文字が半々の部分（showcase）*/

#showcase-img-1{
	background-image: url('start.jpg');
}

#showcase-img-2{
	background-image: url('record.jpg');
}

#showcase-img-3{
	background-image: url('share.jpg');
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}


.third-colum{
	background-color: #f1f0f0;
	text-align: center;
	color:#6a6a6a;
	width: 100%;
	height: 400px;
}

.users{
	background-color: #FF6633;
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 5px;
	border-style: none;
	margin-top: 15px;
}

.user2 a{
	color: #f5f5f5;
}

.last-colum-all{
  display: flex;
  justify-content: center;
}

.last-colum-all li{
  list-style-type: none;
}

.last-colum-all li a{
  font-size: 14px;
  font-weight: bold;
  color: #C0C0C0;
}

.icons a { 
  font-size: 20px;
  color: #c0c0c0;
  padding-right: 10px;
}

.last-colum1,.last-colum2,.last-colum3,.last-colum4{
	margin: 20px;
}


.icons{
	margin: 30px 0 0 30px;
}

.last-foot{
  border-top: 1px solid #f7f7f7;
}

/*↓ユーザーリストに関するCSS */
.users-image h1 {
	padding-top: 300px;
	padding-left: 150px;
	font-size:80px;
	color: white;
}

.users-p{
	padding-left: 150px;
	color: white;
}


.users-image{
	width: 100%;
	height: 800px;
	background-image: url("users.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
}

#usercard{
	width: 20rem;
	margin:0 auto;
}

#usershow-card{
	margin: 20px;
}

#a{
	margin-left: 15px;
}

.usertop-right p{
	width: 100px;
	height: 100px;
}

/*↓user詳細トップ部分*/
.user-top{
	display: flex;
	width: 100%;
	height: 550px;
	background-image: url("user-show.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
}

.usertop-left{
	margin: 100px 0 0 100px;
}

.usertop-right{
	margin-top: 260px;
	color: white;
}

#usershow-card{
	width: 20rem;
}

#user-tr-p{
	margin-top: 50px;
	margin-left: 70px;
}

#user-tr-h5{
	margin-left:50px;
	margin-top: 130px;
}

/* ↓link_to文字色変更のため*/
.link,.link-top-1,.link-navuser{
	color: #808080;
	text-decoration:none !important;
}

.user-link,.link-top-2{
	color: white;
	text-decoration:none !important;
}

.userbutton-container{
	display: flex;
}

/* ↓インフルエンスカウント↓*/
#influence{
	font-size: 50px;
}


.card-img-top {
    width: 100%;
    height: 17vw;
}

/* ↓ランキングページアイコンカラー↓*/
.fa-crown{
	color: #FFCC33;
}
#silver{
	color: #C0C0C0;
}

#brown{
	color: #996633;
}
/* ↓フッターカラー指定↓*/
.foot-icon {
  color: #212529;
  transition: all 0.2s;
}

.last-foot{
	background-color: #FF6633;
}

.show-wrapper{
	height: 600px;
}

/* ↓コンテンツ不足のフッター下部固定↓*/
.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.last-foot-persol{
    width: 100%;
    background-color: #FF6633;
    position: absolute;
    bottom: 0;
}